/*GENERAL*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5em;
}
/*HEADER & BURGER MENU*/
.header {
  display: flex;
  position: fixed;
  top: 0;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  background-color: #818181;
  z-index: 1;
  &__logo {
    width: 10rem;
    height: auto;
  }
  &__title {
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    font-size: 3rem;
  }
  &__nav {
    height: 25rem;
    width: 15rem;
    position: fixed;
    z-index: 2;
    top: 0;
    right: -20rem;
    background-color: #e8e8e8;
    padding-top: 6rem;
    transition: right 0.5s ease;
  }
  &__nav a {
    padding: 0.5rem 0.5rem 0.5rem 2.4rem;
    text-decoration: none;
    font-size: 2.5rem;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  &__nav a:hover {
    color: #111;
  }
  &__nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  &__nav.active {
    right: 0;
  }
  &__nav .close {
    position: absolute;
    top: 0;
    right: 1.5rem;
    font-size: 3rem;
  }
}
.burger-icon span {
  display: flex;
  flex-direction: row;
  width: 3.5rem;
  height: 0.5rem;
  background-color: black;
  margin: 0.6rem 0;
}
/*MAIN*/
.main {
  margin: auto;
  width: 80%;
  position: relative;
  margin-top: 25%;
  background-color: #e8e8e8;
  margin-bottom: 10%;
  &-banner__title {
    text-align: center;
    font-size: 3em;
    margin-bottom: 3em;
  }
  &-section {
    margin: 2em 0;
    &__title {
      text-align: center;
      font-size: 2em;
      margin-bottom: 1em;
    }
    &__text {
      text-align: left;
      margin-bottom: 1em;
    }
    &-gallery {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 1em;
    }
    &__image {
      display: flex;
      justify-content: center;
      margin-bottom: 1em;
      max-width: 100%;
    }
    &__image img {
      width: 100%;
      max-width: 60rem;
      height: auto;
    }
    &__image__gallery {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1em;
      max-width: 100%;
      margin: 0 auto;
    }
    &__image__gallery img {
      width: 100%;
      height: auto;
      max-width: 20rem;
    }
  }
}
/*FOOTER*/
.footer {
  display: flex;
  bottom: 0;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  background-color: #818181;
  &-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    max-width: 100%;
    margin: 0 auto;
    &__opening-hours {
      text-align: left;
      padding: 1em;
    }
    &__adress {
      text-align: center;
      padding: 1em;
    }
    &__social {
      text-align: center;
      padding: 1em;
      ul li {
        display: inline;
      }
      i {
        padding: 0.5em;
      }
    }
  }

  &__opening-hours ul,
  &-content ul,
  &-content li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

//PAGE CAFE  (css temporaire pour test) //

.events-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.event-card {
  border: 2px solid black;
  padding: 1em;

  &__title,
  &__hours,
  &__button {
    text-align: center;
  }

  &__image {
    width: 100%; // à mettre dans section "reset" toutes les img à 100%? //
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
  }
}

/* *****************************************************************
1. VARIABLES
***************************************************************** */

/* *****************************************************************
2. RESET
***************************************************************** */

/* *****************************************************************
3. GENERAL
***************************************************************** */

/* *****************************************************************
4. MAIN LAYOUT ( pour le commun à toutes les pages?)
***************************************************************** */

/* *****************************************************************
5. HOME PAGE
***************************************************************** */

/* *****************************************************************
6. ACTIVITES/Pôles PAGE
***************************************************************** */

/* *****************************************************************
7. CAFE PAGE
***************************************************************** */

/* *****************************************************************
8. 'LE MUR' PAGE
***************************************************************** */

/* *****************************************************************
9. CONTACT PAGE
***************************************************************** */

/* *****************************************************************
10. MEDIA QUERIES
***************************************************************** */

/*____________________Version tablette___________________________ */

@media screen and (min-width: 768px) and (max-width: 1024px) {
  // Styles pour les écrans tablette ici

  /*Page café */
  .events-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
  }

  .event-card {
    flex: 1 1 48%;
  }
}

/*____________________Version Desktop___________________________ */

@media screen and (min-width: 1025px) {
  /*Page café */
  .events-container {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .event-card {
    flex: 1 1 25%;
  }
}
